= render 'layout/header'


.container
  .post.post_agua
    %h2 Agua
  .post__body
    - @agua.each do |post|
      %h2= link_to post.title  
      %p= truncate(post.content.gsub!(/(<[^>]+>|&nbsp;|\r|\n)/,"").html_safe, length: 240, escape: false)
      %br
