= render 'layout/header'


.container
  .post.post_ciudad
    %h2 Ciudad y Movilidad
  .post__body
    - @ciudad.each do |post|
      %h2= link_to post.title,  storytime.post_path(post)
      %p= truncate(post.content.gsub!(/(<[^>]+>|&nbsp;|\r|\n)/,"").html_safe, length: 240, escape: false)
      %br
